body {
    background-color: burlywood;
}

.container {
    padding-bottom: 20px;
}

.form-center {
    padding: 20px;
}

.input-div {
    display: inline-table;
    margin: 10px 2px;
}

h2 {
    text-align: center;
}